@CHARSET "ISO-8859-1";

.ico-location {
    background: url("images/icon_locaion.png") no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
}

@font-face {
    font-family: "UVNConThuy";
    src: url(../fonts/UVNConThuy.TTF) format("truetype");
}
